h1 {
    color: #774432ec;
}

/*Celular*/
@media screen and (max-width: 767px) {
    main {
        display: flex;
        padding: 10px;
        margin: 5% 5% 0% 2.5%; /*cima - direita - baixo - esquerda*/
        width: 90%;
        height: 80vh;
        border-radius: 10px;
    }

    main h1 {
        font-family: cursive;
        font-size: 30px;
        font-weight: 700;
    }

    main .container {
        width: 100%;
        text-align: center;
    }

    main .container div {
        text-align: center;
        display: inline-block;
        margin: 10% 2% 0% 0%; /*cima - direita - baixo - esquerda*/
        width: 45%;
        height: 30vh;
        border-radius: 10px;
        box-Shadow: -1px 1px 5px #031626; /*esquerda - baixo - nivel_borrão - cor_borrão*/
    }

    main .container div a { 
        width: 100%;
        height: 100%;
    }

    main .container div:hover {
        box-Shadow: -1px 1px 20px rgba(0, 0, 0, 0.5); /*esquerda - baixo - nivel_borrão - cor_borrão*/
    }

    main .divblues a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .divrap a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .divpop a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .divsertanejo a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .container div a img { /*All img and all (div-a)*/
        width: 100%;
        height: 15vh;
        border-radius: 3px;
    }

    main .container div a p {
        justify-content: space-around;
    }
}

/*Tablet pequeno/medio*/
@media screen and (min-width: 768px) {
    main {
        display: flex;
        padding: 10px;
        margin: 5% 5% 5% 5%; /*cima - direita - baixo - esquerda*/
        width: 90%;
        height: 100%;
        border-radius: 10px;
        
    }

    main h1 {
        font-family: cursive;
        font-size: 30px;
        font-weight: 700;
    }

    main .container {
        width: 100%;
        text-align: center;
    }

    main .container div {
        text-align: center;
        display: inline-block;
        margin: 10% 2% 0% 0%; /*cima - direita - baixo - esquerda*/
        width: 40%;
        height: 30vh;
        border-radius: 10px;
        box-Shadow: -1px 1px 5px rgba(0, 0, 0, 0.5); /*esquerda - baixo - nivel_borrão - cor_borrão*/
    }

    main .container div a { 
        width: 100%;
        height: 100%;
    }

    main .container div a img { /*All img and all (div-a)*/
        width: 100%;
        height: 22vh;
        border-radius: 3px;
    }

    main .container div:hover {
        box-Shadow: -1px 1px 10px hsl(16, 30%, 33%); /*esquerda - baixo - nivel_borrão - cor_borrão*/
    }

    main .divblues a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .divrap a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .divpop a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .divsertanejo a {
        text-align: center;
        display: inline-block;
        justify-content: space-around;
    }

    main .container div a p {
        justify-content: space-around;
    }
}

/*Desktop*/
@media screen and (min-width: 950px) {
    main {
        display: flex;
        padding: 10px;
        margin: 5% 2.5% 5% 2.5%; /*cima - direita - baixo - esquerda*/
        width: 90%;
        height: 100%;
        border-radius: 10px;
        
    }

    main h1 {
        font-family: cursive;
        font-size: 30px;
        font-weight: 700;
    }

    main .container {
        width: 100%;
        text-align: center;
    }

    main .container div {
        text-align: center;
        display: inline-block;
        margin: 10% 1% 0% 1%; /*cima - direita - baixo - esquerda*/
        width: 20%;
        height: 30vh;
        border-radius: 10px;
        box-Shadow: -1px 1px 5px rgba(0, 0, 0, 0.5); /*esquerda - baixo - nivel_borrão - cor_borrão*/
    }
}