/*Celular*/
@media screen and (max-width: 767px) {
    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    .footerTOP {
        background-color: rgb(0, 0, 0);
    }

    .footerBOTTOM {
        background-color: rgb(255, 255, 255);
    }
}

/*Tablet/Desktop*/
@media screen and (min-width: 768px) {
    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    .footerTOP {
        background-color: rgb(0, 0, 0);
    }
    
    .footerBOTTOM {
        background-color: rgb(255, 255, 255);
    }
}

@media screen and (min-width: 1010px) {
    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    .footerTOP {
        background-color: rgb(0, 0, 0);
    }
    
    .footerBOTTOM {
        background-color: rgb(255, 255, 255);
        height: 10vh;
    }
}