.footerTOP {
    background-color: #b15e15;
}

.footerBOTTOM{
    background-color: #b15e15;
}

footer {
    background: hsl(28, 79%, 39%)
}

footer p{ color: #774432;}
/*Celular*/
@media screen and (max-width: 767px) {
    footer {
        bottom: 0;
        position:  static;
        width: 100%; 
    }
}